<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/konkursi">Pregled svih konkursa</a></li>
                    <li><a href="#/profilrestorana">Profil restorana</a></li>
                    <li><a href="#/noviponudjac">Novi ponudjac</a></li>
                    <li><a href="#/noviradnik">Novi radnik</a></li>
                    <li><a href="#/rasporedstolova">Raspored stolova</a></li>
                    <li><a href="#/dodavanjesmena">Dodavanje smena</a></li>
                    <li class="active"><a href="#/inforad">Informacije o radu<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li ><a href="#/nalog">Moj nalog</a></li>-->
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div>
        <svg width="1000" height="1000" id="svgcontainer">
            <title id="title">A line chart showing some information</title>
            <g class="grid y-grid" id="xGrid">
                <line x1="100" x2="100" y1="10" y2="411" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            </g>
            <g class="grid x-grid" id="yGrid">
                <line x1="100" x2="800" y1="410" y2="410" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            </g>
            <g class="labels x-labels">
                <text x="185" y="430">dan1</text>
                <text x="285" y="430">dan2</text>
                <text x="385" y="430">dan3</text>
                <text x="485" y="430">dan4</text>
                <text x="585" y="430">dan5</text>
                <text x="685" y="430">dan6</text>
                <text x="785" y="430">dan7</text>
                <text x="400" y="470" class="label-title">Dan u nedelji</text>
            </g>
            <g class="labels y-labels">
                <text x="70" y="15">100</text>
                <text x="75" y="115">75</text>
                <text x="75" y="215">50</text>
                <text x="75" y="315">25</text>
                <text x="85" y="420">0</text>
                <text x="0" y="200" class="label-title">Br. gostiju</text>
            </g>
            <circle cx="100" cy="10" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="100" cy="110" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="100" cy="210" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="100" cy="310" r="4" stroke="black" stroke-width="1" fill="red" />

            <circle cx="100" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="200" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="300" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="400" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="500" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="600" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="700" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />
            <circle cx="800" cy="410" r="4" stroke="black" stroke-width="1" fill="red" />

        </svg>
        <input type="date" ng-model = "dateStart" class="form-control">
        <button type="button" class="btn btn-success" ng-click="click()">Click</button>
    </div>
</div>