<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/konkursi">Pregled svih konkursa</a></li>
                    <li class="active"><a href="#/profilrestorana">Profil restorana</a><span class="sr-only">(current)</span></li>
                    <li><a href="#/noviponudjac">Novi ponudjac</a></li>
                    <li><a href="#/noviradnik">Novi radnik</a></li>
                    <li><a href="#/rasporedstolova">Raspored stolova</a></li>
                    <li><a href="#/dodavanjesmena">Dodavanje smena</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li ><a href="#/nalog">Moj nalog</a></li>-->
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Jelovnik restorana</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Ime jela</th>
                    <th>Tip jela</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dish in menu">
                    <td>{{dish.name}}</td>
                    <td>{{dish.dish_type.name}}</td>
                    <td>{{dish.description}}</td>
                    <td>{{dish.price}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-2" ng-click="readyforupdate(dish)">Izmeni</button></td>
                    <!--<th><button type="button" class="btn btn-success" ng-click="delete(dish.dish_id)">Izbrisi</button></th>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-1" ng-click="clear()">Novo jelo</button></h1>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Novo jelo</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Ime:</td>
                                        <td><input type="text" class="form-control" ng-model="newdish.name"></td>
                                    </tr>
                                    <tr>
                                        <td>Tip:</td>
                                        <td><select ng-model="newdish.dish_type" ng-options="tip.name for tip in dishtypes"></select></td>
                                    </tr>
                                    <tr>
                                        <td>Opis:</td>
                                        <td><input type="text" class="form-control" ng-model="newdish.description"></td>
                                    </tr>
                                    <tr>
                                        <td>Cena:</td>
                                        <td><input type="number" class="form-control" ng-model="newdish.price"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button"  data-dismiss="modal" class="btn btn-primary" ng-click="create()">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="container">
        <div class="modal fade" id="modal-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Izmena jela</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Ime:</td>
                                        <td><input type="text" class="form-control" ng-model="updateddish.name"></td>
                                    </tr>
                                    <tr>
                                        <td>Opis:</td>
                                        <td><input type="text" class="form-control" ng-model="updateddish.description"></td>
                                    </tr>
                                    <tr>
                                        <td>Cena:</td>
                                        <td><input type="text" class="form-control" ng-model="updateddish.price"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button"  data-dismiss="modal" class="btn btn-primary" ng-click="update()">Izmeni</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>