<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/restorani">Restorani <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/rezervacije">Rezervacije</a></li>
                    <li><a href="#/pozivnice">Pozivnice</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#/nalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-6" style="border: 1px solid black">
            <h1>Svi restorani:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Ocena</th>
                    <th>Ocena prijatelja</th>
                    <th>Udaljenost</th>
                    <th>
                        <select ng-model="sortiranje">
                            <option value='name'>Naziv</option>
                            <option value='description'>Opis</option>
                            <option value='distance'>Udaljenost</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="res in restaurants | orderBy:sortiranje">
                    <td>{{res.name}}</td>
                    <td>{{res.description}}</td>
                    <td></td>
                    <td>{{res.distance | number : 1 }} km</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" ng-click="zapocniRezervaciju(res)" data-target="#modal-1">Rezervisi</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="border: 1px solid black;">
            <h1>Poseceni restorani:</h1>
            <table class="table" >
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Ocena</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="res in visited">
                    <td>{{res.restaurant.name}}</td>
                    <td>{{res.dateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>4.7</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-4" ng-click="zapocniOcenjivanje(res)">Oceni</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Rezervacija - korak 1</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Naziv:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Datum:</td>
                                        <td>
                                            <form>
                                                <!--<input type="date" name="bday" ng-model="datum">-->
                                                <input type="datetime-local" name="bday" ng-model="datum">
                                            </form>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td>Vreme:</td>
                                        <td>
                                            <select ng-model="datum.hours">
                                                <option value=8>8</option>
                                                <option value=9>9</option>
                                                <option value=10>10</option>
                                                <option value=11>11</option>
                                                <option value=12>12</option>
                                                <option value=13>13</option>
                                                <option value=14>14</option>
                                                <option value=15>15</option>
                                                <option value=16>16</option>
                                                <option value=17>17</option>
                                                <option value=18>18</option>
                                                <option value=19>19</option>
                                                <option value=20>20</option>
                                                <option value=21>21</option>
                                                <option value=22>22</option>
                                                <option value=23>23</option>
                                                <option value=24>24</option>

                                            </select>
                                            :
                                            <select ng-model="datum.minutes">
                                                <option value=0>0</option>
                                                <option value=15>15</option>
                                                <option value=30>30</option>
                                                <option value=45>45</option>
                                            </select>
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td>Trajanje:</td>
                                        <td>
                                            <select ng-model="trajanje">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button"  ng-disabled="trajanje==null || datum==null" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#modal-2" ng-click="predjiNaRezervisanjeStolova()">Dalje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="modal fade" id="modal-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Rezervacija - korak 2</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Naziv:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Datum:</td>
                                        <td>{{datum | date:'yyyy-MM-dd HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Trajanje:</td>
                                        <td>{{trajanje + " sata"}}</td>
                                    </tr>
                                    <tr>
                                        <td>Broj stola:</td>
                                        <td>
                                            <select ng-model="broj_stola">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Odaberi stolove:</td>
                                        <td>
                                            <svg width="700" height="600" id="svgcontainer" >
                                                <rect width="700" height="600" style="fill:rgb(232,237,204);stroke-width:3;stroke:rgb(204,255,204)" />
                                                <rect ng-repeat="region in regions" ng-attr-x={{region.xvalue}} ng-attr-y={{region.yvalue}} rx="5" ry="5" ng-attr-width={{region.width}} ng-attr-height={{region.height}}
                                                      style="fill:{{region.color}};stroke:black;stroke-width:5;opacity:0.2" transform="translate(0,0)" />
                                                <rect  ng-repeat ="table in tables"  ng-attr-x={{table.xvalue}}  ng-attr-y={{table.yvalue}} rx="5" ry="5"
                                                       ng-attr-width={{table.width}}  ng-attr-height={{table.height}} style="fill:red;stroke:black;stroke-width:5;opacity:0.8" transform="translate(0,0)"
                                                       ng-mousedown = "selectElement($event)" />
                                                <rect  ng-repeat ="rs in rezSto"  ng-attr-x={{rs.xvalue}}  ng-attr-y={{rs.yvalue}} rx="5" ry="5"
                                                       ng-attr-width={{rs.width}}  ng-attr-height={{rs.height}} style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" transform="translate(0,0)"
                                                        />
                                            </svg>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <!--<button type="button" ng-disabled="broj_stola==null" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#modal-3" >Dalje</button>-->
                        <button type="button" ng-disabled="brojStolova==0" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#modal-3" ng-click="ucitajStolove()" >Dalje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-3">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Rezervacija - korak 3</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Naziv:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Datum:</td>
                                        <td>{{datum | date:'yyyy-MM-dd HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Trajanje:</td>
                                        <td>{{trajanje + " sata"}}</td>
                                    </tr>
                                    <tr>
                                        <td>Broj stola:</td>
                                        <td>{{broj_stola}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Dodaj prijatelja:
                                        </td>
                                        <td>
                                            <div class="form-group" style="width:250px;">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <table class="table">
                                                <tbody>
                                                <tr ng-repeat="friend in friends">
                                                    <td>{{friend.name +" "+ friend.surname}}</td>
                                                    <td><button class="btn btn-success" ng-click="pozoviPrijatelja(friend.user_id)">Pozovi</button></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal" ng-click="getFriends();">Odustani</a>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="rezervisi()" data-toggle="modal">Dalje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="modal fade" id="modal-4">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Rezervacija - korak 3</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Naziv:</td>
                                <td>{{reservation.restaurant.name}}</td>
                            </tr>
                            <tr>
                                <td>Datum:</td>
                                <td>{{reservation.dateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Trajanje:</td>
                                <td>{{reservation.duration}}</td>
                            </tr>
                            <tr>
                                <td>Ocena restorana:</td>

                                <td>
                                    <input type="number" ng-model="ocena.ocenaRestorana" min="0" max="5" id="oR" />
                                </td>
                            </tr>
                            <tr>
                                <td>Ocena usluge:</td>
                                <td>
                                    <input type="number" ng-model="ocena.ocenaUsluge" min="0" max="5" id="oU" />
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" ng-click="zavrsiOcenjivanje()" >Oceni</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
