<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/WWWkonobarPregledNarudzbina">Pregled narudzbena</a></li>
                    <li><a href="#/WWWkonobarPregledPrihvacenihNarudzbina">Pregled prihvacenih narudzbina</a></li>
                    <li><a href="#/WWWkonobarPregledGotovihNarudzbina">Pregled gotovih narudzbina</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li  ><a href="#/WWWkonobarRasporedRada">Raspored rada</a></li>
                    <li><a href="#/WWWkonobarNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Pregled aktivnih narudzbina</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Objekat porudzbine</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dish in menu">
                    <td>{{dish.name}}</td>
                    <td>{{dish.type.name}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-2" ng-click="readyforupdate(dish)">Izmeni</button></td>
                    <!--<th><button type="button" class="btn btn-success" ng-click="delete(dish.dish_id)">Izbrisi</button></th>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>