<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-show="loggedUser.firstLog == false && radi==true" class="nav navbar-nav">
                    <li><a href="#/WWWkonobarPregledNarudzbina">Pregled narudzbena</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li  class="active" ng-show="loggedUser.firstLog == false"><a href="#/WWWkonobarRasporedRada">Raspored rada</a></li>
                    <li ng-show="loggedUser.firstLog == false"><a href="#/WWWkonobarNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--<div class="col-md-6 col-lg-6 form">
        <h4>Raspored smena</h4>
        <div id="timetable">
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Raspored rada:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Datum od:</th>
                    <th>Datum do:</th>
                    <th>Vreme od:</th>
                    <th>Vreme do:</th>
                    <th>Region:</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ds in dailySchedules">
                    <td>{{ds.startday | date:'dd-MM-yyyy' }}</td>
                    <td>{{ds.endday | date:'dd-MM-yyyy' }}</td>
                    <td>{{ds.startHours}}:{{ds.startMinutes}}</td>
                    <td>{{ds.endHours}}:{{ds.endMinutes}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-1" ng-click="vidiDodeljenRegion(ds.restaurantRegion)">Vidi dodeljen region</button></td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Dodavanje novog menadzera restorana</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <svg width="700" height="600" id="svgcontainer" >
                                    <rect width="700" height="600" style="fill:rgb(232,237,204);stroke-width:3;stroke:rgb(204,255,204)" />
                                    <rect ng-repeat="region in regions" ng-attr-x={{region.xvalue}} ng-attr-y={{region.yvalue}} rx="5" ry="5" ng-attr-width={{region.width}} ng-attr-height={{region.height}}
                                          style="fill:{{region.color}};stroke:black;stroke-width:5;opacity:0.2" transform="translate(0,0)" />
                                    <rect  ng-repeat ="table in tables"  ng-attr-x={{table.xvalue}}  ng-attr-y={{table.yvalue}} rx="5" ry="5"
                                           ng-attr-width={{table.width}}  ng-attr-height={{table.height}} style="fill:red;stroke:black;stroke-width:5;opacity:0.8" transform="translate(0,0)"
                                          />
                                    <rect  ng-model="restaurantRegion"  ng-attr-x={{restaurantRegion.xvalue}}  ng-attr-y={{restaurantRegion.yvalue}} rx="10" ry="10"
                                           ng-attr-width={{restaurantRegion.width}}  ng-attr-height={{restaurantRegion.height}} style="fill:black;stroke:black;stroke-width:10;opacity:0.5" transform="translate(0,0)"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>