<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li><a href="#/WWWpregledNarucenihJela">Pregled narucenih jela</a></li>
                    <li><a href="#/WWWpregledPrihvacenihJela">Pregled prihvacenih jela</a></li>
                    <li><a href="#/WWWpregledGotovihJela">Pregled gotovih jela</a></li>-->
                    <li><a href="#/WWWkuvarPregledJela">Pregled jela</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li  class="active"><a href="#/WWWkuvarRasporedRada">Raspored rada</a></li>
                    <li><a href="#/WWWkuvarNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Raspored rada:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Datum od:</th>
                    <th>Datum do:</th>
                    <th>Vreme od:</th>
                    <th>Vreme do:</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ds in dailySchedules">
                    <td>{{ds.startday | date:'dd-MM-yyyy' }}</td>
                    <td>{{ds.endday | date:'dd-MM-yyyy' }}</td>
                    <td>{{ds.startHours}}:{{ds.startMinutes}}</td>
                    <td>{{ds.endHours}}:{{ds.endMinutes}}</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>