<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-show="loggedUser.firstLog == false && radi==true" class="nav navbar-nav">
                    <li class="active"><a href="#/WWWkonobarPregledNarudzbina">Pregled narudzbena</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li  ng-show="loggedUser.firstLog == false"><a href="#/WWWkonobarRasporedRada">Raspored rada</a></li>
                    <li ng-show="loggedUser.firstLog == false"><a href="#/WWWkonobarNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Pregled aktivnih narudzbina</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Objekat porudzbine</th>
                    <th>Status</th>
                    <th>Zaduzeni konobar</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in myavalibleorders">
                    <td>{{order.foodDrinkItem.name}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.steward.user_id}}</td>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-1" ng-click="pregledRezervisanihStolova(order)">Informacije</button></td>
                    <td><button type="button" ng-if="order.status == 'gostPorucio' " class="btn btn-danger" ng-click="konobarPrihvati(order)">Prihvati porudzbinu</button></td>
                    <!--<td><button type="button" ng-if="order.status == 'konobarPrihvatio' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="">Spremaj</button></td>
                    <td><button type="button" ng-if="order.status == 'uPripremi' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="">Gotovo sa spremanjem</button></td>-->
                    <td><button type="button" ng-if="order.status == 'kuvarSpremio' || order.status == 'sankerSpremio' " class="btn btn-danger" ng-click="konobarDostavi(order)">Dostavi</button></td>
                    <!--<th><button type="button" class="btn btn-success" ng-click="delete(dish.dish_id)">Izbrisi</button></th>-->
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12" style="border: 1px solid black">
            <h1>Pregled racuna</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Racun broj</th>
                    <th>Rezervacija ID</th>
                    <th>Status rezervacije</th>
                    <th>Zaduzeni konobar</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in bills">
                    <td>{{bill.bill_id}}</td>
                    <td>{{bill.reservation.reservation_id}}</td>
                    <td>{{bill.reservation.status}}</td>
                    <td>{{bill.steward.user_id}}</td>
                    <td><button type="button" class="btn btn-info" ng-click="izradiRacun(bill)" ng-show="bill.reservation.status=='active'">Izradi racun</button></td>
                    <th>&nbsp;</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Dodavanje novog menadzera restorana</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <svg width="700" height="600" id="svgcontainer" >
                                    <rect width="700" height="600" style="fill:rgb(232,237,204);stroke-width:3;stroke:rgb(204,255,204)" />
                                    <rect ng-repeat="region in regions" ng-attr-x={{region.xvalue}} ng-attr-y={{region.yvalue}} rx="5" ry="5" ng-attr-width={{region.width}} ng-attr-height={{region.height}}
                                          style="fill:{{region.color}};stroke:black;stroke-width:5;opacity:0.2" transform="translate(0,0)" />
                                    <rect  ng-repeat ="table in tables"  ng-attr-x={{table.xvalue}}  ng-attr-y={{table.yvalue}} rx="5" ry="5"
                                           ng-attr-width={{table.width}}  ng-attr-height={{table.height}} style="fill:red;stroke:black;stroke-width:5;opacity:0.8" transform="translate(0,0)"
                                    />
                                    <rect  ng-repeat="table in reservedTables"  ng-attr-x={{table.xvalue}}  ng-attr-y={{table.yvalue}} rx="10" ry="10"
                                           ng-attr-width={{table.width}}  ng-attr-height={{table.height}} style="fill:black;stroke:black;stroke-width:10;opacity:0.5" transform="translate(0,0)"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>