<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-show="loggedUser.firstLog == false" class="nav navbar-nav">
                    <li><a href="#/WWWpregledNarucenihJela">Pregled narucenih jela</a></li>
                    <li><a href="#/WWWpregledPrihvacenihJela">Pregled prihvacenih jela</a></li>
                    <li><a href="#/WWWpregledGotovihJela">Pregled gotovih jela</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#/WWWkuvarRasporedRada">Raspored rada</a></li>
                    <li ><a href="#/WWWkuvarNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row" ng-show="loggedUser.firstLog == true">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Promenite sifru da bi nastavili dalje</h1>
            <h3><font color="red">{{error}}</font></h3>
            <label>Nova sifra:</label>
            <input type="password" id="newpassword" class="form-control" ng-model="newpassword">
            <br>
            <label>Potvrdite novu sifru:</label>
            <input type="password" id="confirmpassword" class="form-control" ng-model="confirmpassword">
            <br>
            <button type="button" class="btn btn-success" ng-click="changepassword()">Potvrdi</button>
        </div>
    </div>
</div>