<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/WWWpregledRestorana">Pregled restorana <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/WWWpregledMenadzeraRestorana">Pregled menadzera <span class="sr-only">(current)</span></a></li>
                    <li class="active" ng-show="loggedUser.name=='Admin'"><a href="#/WWWpregledMenadzeraSistema">Pregled menadzera sistema <span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li ><a href="#/nalog">Moj nalog</a></li>-->
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Svi menadzeri:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sm in systemManagers">
                    <td>{{sm.email}}</td>
                    <td>{{sm.password}}</td>
                    <td>{{sm.name}}</td>
                    <td>{{sm.surname}}</td>
                    <td>&nbsp;</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-2" ng-click="zapocniIzmenuMenadzeraSistema(sm.user_id)">Izmeni</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-1" ng-click="zapocniKreiranjeMenadzeraSistema()">Dodaj novog menadzera sistema</button></h1>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Dodavanje novog menadzera sistema</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input type="text" name="email" class="form-control" ng-model="systemManager.email"></td>
                                    </tr>
                                    <tr>
                                        <td>Password:</td>
                                        <td><input type="text" name="password" class="form-control" ng-model="systemManager.password"></td>
                                    </tr>
                                    <tr>
                                        <td>Ime:</td>
                                        <td><input type="text" name="name" class="form-control" ng-model="systemManager.name"></td>
                                    </tr>
                                    <tr>
                                        <td>Prezime:</td>
                                        <td><input type="text" name="surname" class="form-control" ng-model="systemManager.surname"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button"  ng-disabled="systemManager.password==null" data-dismiss="modal" class="btn btn-primary" ng-click="zavrsiKreiranjeMenadzeraSistema()">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-2">
            <div class="modal-dialog modal-2g">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Izmena postojeceg menadzera sistema</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="border: 1px solid black">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input type="text" name="email" class="form-control" ng-model="systemManager.email"></td>
                                    </tr>
                                    <tr>
                                        <td>Password:</td>
                                        <td><input type="text" name="password" class="form-control" ng-model="systemManager.password"></td>
                                    </tr>
                                    <tr>
                                        <td>Ime:</td>
                                        <td><input type="text" name="name" class="form-control" ng-model="systemManager.name"></td>
                                    </tr>
                                    <tr>
                                        <td>Prezime:</td>
                                        <td><input type="text" name="surname" class="form-control" ng-model="systemManager.surname"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button"  ng-disabled="systemManager.password==null" data-dismiss="modal" class="btn btn-primary" ng-click="zavrsiIzmenuMenadzeraSistema()">Izmeni</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>