<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-show="loggedUser.firstLog == false  && radi==true" class="nav navbar-nav">
                    <li class="active"><a href="#/WWWsankerPregledNarucenihPica">Pregled narucenih pica</a></li>
                    <!--<li><a href="#/WWWsankerPregledGotovihPica">Pregled gotovih pica</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="loggedUser.firstLog == false" ><a href="#/WWWsankerRasporedRada">Raspored rada</a></li>
                    <li ng-show="loggedUser.firstLog == false" ><a href="#/WWWsankerNalog">Moj nalog</a></li>
                    <li><a href="#" ng-click="logout()">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12" style="border: 1px solid black">
            <h1>Pregled aktivnih narudzbina</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Objekat porudzbine</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in myavalibleorders">
                    <td>{{order.foodDrinkItem.name}}</td>
                    <td>{{order.status}}</td>
                    <!--<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-2" ng-click="">Informacije</button></td>
                    <td><button type="button" ng-if="order.status == 'gostPorucio' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="konobarPrihvati(order)">Prihvati porudzbinu</button></td>-->
                    <td><button type="button" ng-if="order.status == 'konobarPrihvatio' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="sankerPrihvati(order)">Prihvati pice</button></td>
                    <td><button type="button" ng-if="order.status == 'sankerPrihvatio' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="sankerSpremi(order)">Spremi pice</button></td>
                    <!--<td><button type="button" ng-if="order.status == 'gotovo' " class="btn btn-danger" data-toggle="modal" data-target="#modal-2" ng-click="konobarDostavi(order)">Dostavi</button></td>-->
                    <!--<th><button type="button" class="btn btn-success" ng-click="delete(dish.dish_id)">Izbrisi</button></th>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>